body {
  background-color: #fff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* .link {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  } */

.link:hover,
.link:focus {
  color: #4d5ae5;
}

/* .page-header {
  } */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: #4d5ae5;
}

.logo-accent {
  color: #2e2f42;
}

.header-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
}

.header-contact {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.site-nav link:hover,
.site-nav link:focus {
  color: #4d5ae5;
}

.header-contact link:hover,
.header-contact link:focus {
  color: #4d5ae5;
}

/* .hero {
    background: #2e2f42;
  } */

.hero-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 56px;
  line-height: 1;
  color: #fff;
}

.hero-button-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
}

.features-header .team-name .project-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.features-description .team-position .project-description {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.section-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
}

.footer-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
}

.menu-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
}

.menu-button .link:hover,
.menu-button link:focus {
  color: #fff;
}
